---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #0099ff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.site-header {
  background-color: #0099ff;
  border-bottom: 0;
}

.site-header a:hover {
  text-decoration: none;
}

.site-title:hover, .site-footer a:hover {
  color: #BEF !important;
}

.site-title, .site-footer a {
  color: #FFF !important;
}

@media screen and (min-width: 601px) {
  .page-link {
    color: #FFF !important;
  }
  .page-link:hover {
    text-decoration: none;
    color: #BEF !important;
  }
}

.site-wave {
  background: #FFF;
  display: block;
}

.site-footer {
  background-color: #0099ff;
  border-top: 0;
}

.page-content a {
  color: #0099ff;
  text-decoration: none;
}

.page-content a:hover {
  color: #0077dd;
}
