---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #0099ff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.site-header {
  background-color: #0099ff;
  border-bottom: 0;
}

.site-header .wrapper {
  padding-top: 10px;
  padding-bottom: 5px;
}

.site-header a:hover {
  text-decoration: none;
}

.site-title:hover, .site-footer a:hover {
  color: #bbe4ff !important;
}

.site-title, .site-footer a {
  color: #FFF !important;
}

@media screen and (min-width: 601px) {
  .page-link {
    color: #FFF !important;
  }
  .page-link:hover {
    text-decoration: none;
    color: #bbe4ff !important;
  }
}

.site-wave {
  background: #FFF;
  display: block;
}

.site-footer {
  background-color: #0099ff;
  border-top: 0;
}

.page-content a {
  color: #33ADFF;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-content a:hover {
  color: #0199ff;
}

.post-related-image {
  height: 65px;
  width: 100px;
  float: left;
  margin-right: 10px;
  border-radius: 3px;
}

.post {
  margin-top: 15px;
}

.post-content h2 {
  margin-top: 30px;
}

.post-meta {
  display: inline-block;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    top: 17px;
  }
  .site-nav .menu-icon > svg path {
    fill: #33ADFF;
  }
  .site-title {
    font-size: 22px;
  }
  .post-meta {
    margin-top: 10px;
  }
  .post-link {
    margin-top: 2px;
    font-size: 16px;
  }
  .footer-col {
    text-align: center !important;
  }
  .footer-col:first-child {
    margin-bottom: 40px;
  }
}
